* {
    box-sizing: border-box;
}
nav {
    background-color: rgb(33, 33, 33);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    
}
nav ul {
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
body {
    margin: 0;
}
a {
    padding: 20px 10px 20px 10px;
    display: inline-block;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
a:hover {
    background-color: red;
    color: yellow;
    text-decoration: underline;
}
header {
    background-image: url(./picture.jpg);
    color: white;
    height: 100vh;
    background-size: cover;
}

